<div class="card border-dark mb-3" id="postCard">
    <div hidden id="postId">{{id}}</div>
    <div class="card-header">User: {{user.username}} - Discussion topic: {{post_title}}</div>
    <div class="card-body text-dark">
        {{post_description}}
    </div>
    <button class="btn btn-sm btn-secondary" data-id={{id}}>DELETE</button>

</div>